.header {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-line-pack: center;
        align-content: center;
    padding: 30px;
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-area: header;
    height: auto;
    nav div .navbar-toggler{
        margin-bottom: 15px;
    }
}

body{
    background-color: rgba(255, 255, 255, 0.678);
}

.footer{
    grid-area: footer;
    margin-top: 50px;
    
}

.footerContenedor{
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 60px;
    
    .detalles{
    display: flex;
    flex-direction: column;
    h3{
        font-size: 22px;
    }
    p{
        font-size: 14px;
    }
    }

    .direccion{
        display: flex;
        flex-direction: column;
        h3{
            font-size: 22px;
        }
        p{
            font-size: 14px;
        }
    }

}


.redes{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    margin-top: 40px;
    .facebook{
        background-color: rgba(10, 82, 216, 0.877);
        color: white;
        width: 100%;
        i{
            color: white;
        }
    }

    .whatsapp{
        background-color: rgba(47, 180, 58, 0.856);
        color: white;
        width: 100%;
        i{
            color: white;
        }
    }

    .instagram{
        background:linear-gradient(45deg, #5851dbda, #833ab4d3, #c13584, #e1306c);
        color: white;
        width: 100%;
        i{
            color: white;
        }
    }
}



.derechosReservados{
    text-align: center;
    h4{
        font-family: 'Times New Roman', Times, serif;
        font-size: 20px;
        font-weight: lighter;
        margin-top: 30px;
        font-style: normal;
        color: black;
    }
}