/*------MEDIA QUERIE------*/

@media screen and (max-width:1060px){
    .header{
        flex-direction: column;
        align-items: center;
    }    
}



@media screen and (max-width:1100px){

    .footerContenedor{
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        text-align: center;
        height: auto;
        padding: 0px;
        a{
            padding: 30px;
        }
        div{
            padding: 30px;
        }
    }

    .footerContenedor a img{
        width: 100%;
    }

    
}


@media screen and (max-width:1100px){
    main .contactologiaSection{
        flex-direction: column-reverse;
    }
    main .contactologiaMantenimiento{
        flex-direction: column-reverse;
    }
}

@media screen and (max-width:800px){
    main{
        .contactologiaSection{
            .contactologiaLista{
                margin: 0px;
                ul{
                    margin: 0px;
                }
            }
            .contactologiaVideo{
                iframe{
                    width: 100%;
                }
                
            }
        }
        .contactologiaMantenimiento{
            .contactologiaLista{
                margin: 0px;
                ul{
                    margin: 0px;
                }
            }
            .contactologiaVideo{
                iframe{
                    width: 100%;
                }
            }
        }
    }
}


@media screen and (max-width: 1120px){

    .nosotros{
        margin:auto;
        flex-wrap: wrap;
    
    }

    .nosotros .contenedorNosotros .imagenes img{
        width: 100%; 
    }
}

@media screen and (max-width: 1080px){

    main .marcas h1{
        color: rgba(252, 252, 252, 0.849);
        font-size: 40px;
        text-align:center;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(8, 7, 7, 0.568), rgba(129, 119, 119, 0.61)),url(../img/lentes4.jpg);
    }    

    main .nosotros h1{
        color: rgba(252, 252, 252, 0.849);
        font-size: 40px;
        text-align:center;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(8, 7, 7, 0.568), rgba(129, 119, 119, 0.61)),url(../img/banner.jpeg);
    }
}


@media screen and (max-width:1000px){
    .giftContenedor div p{
        font-size: 15px;
        padding: 0px;
    }
    .giftContenedor div{
        flex-wrap: wrap;
        
    }

    nav div .navbar-toggler{
        margin: auto;
    }

    .container-fluid{
        text-align: center;
    }
}

@media screen and (max-width:1000px){
    section .formulario .mb-3{
        padding: 10px;
        margin: 0px;
    }
}

@media screen and (max-width: 1100px){

        .texto{
            p{
                text-align: center;
            }
            h2{
                text-align: center;
            }
        }
    
}

@media screen and (max-width: 1100px){
    main section .contenedorNosotros{
    flex-direction: column;
    }
}

@media screen and (max-width: 560px) {
    .main .giftContenedor div img{
        width: 90%;
        height: 220px;
    }
}