/*------MEDIA QUERIE------*/

@media screen and (max-width:1060px){

    .header{
        flex-direction: column;
        align-items: center;
    }
    .header nav .navBar{
        flex-direction: column;
        text-align: center;
        width: 100%;
        
    }

    .header figure img{
        width: 100%;
    }
}



@media screen and (max-width:1100px){

    .footerContenedor{
        flex-direction: column;
        text-align: center;
        height: auto;
    }

    .footerContenedor ul{
        margin:30px;
    }

    .footerContenedor a img{
        width: 100%;
    }

}





@media screen and (max-width:600px){
    .contactologiaLista{
        
        margin:auto;
    }

    .contactologiaVideo iframe{
        width: 100%;
    }
}

@media screen and (max-width:1250px){

    .main .formulario{
        width: 50%;
    }
    .main .formulario article form input{
        width: 80%;
    
    }
}



@media screen and (max-width: 1120px){

    .nosotros{
        margin:auto;
        flex-wrap: wrap;
    
    }
}

@media screen and (max-width: 1080px){

    main .marcas h1{
        color: rgba(252, 252, 252, 0.849);
        font-size: 40px;
        text-align:center;
        display: flex;
        align-items:flex-end;
        justify-content: center;
        background-image: linear-gradient(rgba(8, 7, 7, 0.568), rgba(129, 119, 119, 0.61)),url(../img/lentes4.jpg);
    }    
}


@media screen and (max-width:1000px){
    .giftContenedor div p{
        font-size: 15px;
        padding: 0px;
    }
    .giftContenedor div{
        flex-wrap: wrap;
        
    }
}

@media screen and (max-width:500px){
    
}