@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Mukta:wght@200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap");
.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-line-pack: center;
  align-content: center;
  padding: 30px;
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: header;
  height: auto;
}

body {
  background-color: rgba(255, 255, 255, 0.678);
}

.footer {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: footer;
  margin-top: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContenedor {
  margin-top: 40px;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 50px;
}

.footerContenedor h4 {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
}

.footerContenedor .detalles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footerContenedor .direccion {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.redesPrueba {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  margin-top: 40px;
}

.redesPrueba .facebook {
  background-color: #0a52d8;
  color: white;
  width: 100%;
}

.redesPrueba .facebook i {
  color: white;
}

.redesPrueba .whatsapp {
  background-color: #03960f;
  color: white;
  width: 100%;
}

.redesPrueba .whatsapp i {
  color: white;
}

.redesPrueba .instagram {
  background: linear-gradient(45deg, #5851db, #833ab4, #c13584, #e1306c);
  color: white;
  width: 100%;
}

.redesPrueba .instagram i {
  color: white;
}

.derechosReservados {
  text-align: center;
}

.derechosReservados h4 {
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  font-weight: lighter;
  margin-top: 30px;
  font-style: normal;
  color: black;
}

/*------MEDIA QUERIE------*/
@media screen and (max-width: 1060px) {
  .header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header nav .navBar {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100%;
  }
  .header figure img {
    width: 100%;
  }
}

@media screen and (max-width: 1100px) {
  .footerContenedor {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    height: auto;
  }
  .footerContenedor ul {
    margin: 30px;
  }
  .footerContenedor a img {
    width: 100%;
  }
}

@media screen and (max-width: 600px) {
  .contactologiaLista {
    margin: auto;
  }
  .contactologiaVideo iframe {
    width: 100%;
  }
}

@media screen and (max-width: 1250px) {
  .main .formulario {
    width: 50%;
  }
  .main .formulario article form input {
    width: 80%;
  }
}

@media screen and (max-width: 1120px) {
  .nosotros {
    margin: auto;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

@media screen and (max-width: 1080px) {
  main .marcas h1 {
    color: rgba(252, 252, 252, 0.849);
    font-size: 40px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(8, 7, 7, 0.568)), to(rgba(129, 119, 119, 0.61))), url(../img/lentes4.jpg);
    background-image: linear-gradient(rgba(8, 7, 7, 0.568), rgba(129, 119, 119, 0.61)), url(../img/lentes4.jpg);
  }
}

* {
  margin: 0;
  padding: 0;
  color: #290227;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.grid-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  -ms-grid-rows: 0.5fr auto 0.5fr;
      grid-template-rows: 0.5fr auto 0.5fr;
  gap: px px;
      grid-template-areas: "header header" "main main" "footer footer";
}

.hero {
  width: 100%;
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.605)), to(rgba(0, 0, 0, 0.537))), url(../img/local.jpg);
  background-image: linear-gradient(rgba(0, 0, 0, 0.605), rgba(0, 0, 0, 0.537)), url(../img/local.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.hero h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: rgba(253, 252, 251, 0.644);
  font-family: "oswald",sans-serif;
}

.hero h2 {
  margin-bottom: 20px;
  font-size: 30px;
  color: rgba(253, 252, 251, 0.644);
  font-family: "oswald",sans-serif;
  text-align: center;
}

.hero p {
  font-family: "Mukta",sans-serif;
  font-size: 22px;
  color: rgba(253, 252, 251, 0.644);
  text-align: center;
}

.nosotros figure img {
  border: 2px solid white;
  border-style: groove;
  padding: 10px;
  border-radius: 20px;
  margin-top: 10%;
  margin-bottom: 5%;
  margin-left: 35%;
}

/* SECCIÓN DE MARCAS Y DESCRIPCIONES */
.main {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: main;
  height: auto;
  background-color: rgba(243, 240, 240, 0.411);
  margin-top: 20px;
}

/*---------CARDS ATAJOS---------*/
.atajos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin: 150px 20px 100px 20px;
}

.atajos .card {
  -webkit-box-shadow: 4px 2px 10px 3px rgba(124, 121, 124, 0.346);
          box-shadow: 4px 2px 10px 3px rgba(124, 121, 124, 0.346);
  height: 415px;
  margin: 40px;
}

.atajos .card img {
  height: 200px;
}

.atajos .card-body {
  height: auto;
}

.atajos .card-body a {
  height: 40px;
  color: #0d0e0e;
  background-color: #e5e9f2da;
  border: 1px solid #fffcf5;
}

.medioDePago {
  background-color: rgba(222, 243, 240, 0.24);
  padding: 50px;
}

.medioDePago h2 {
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: bold;
  color: rgba(2, 0, 2, 0.61);
  text-align: center;
  margin: 40px;
}

.medioDePago h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(2, 0, 2, 0.61);
  text-align: center;
}

.medioDePago .bancos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
}

.medioDePago .bancos a {
  margin: 20px;
}

.medioDePago .bancos a img {
  width: 200px;
  height: 180px;
  border: 1px solid #f0efed;
  border-radius: 50%;
}

.giftContenedor {
  width: 100%;
  background-color: rgba(255, 255, 255, 0.678);
  padding: 50px;
}

.giftContenedor h3 {
  font-family: 'Montserrat', sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: rgba(2, 0, 2, 0.61);
  text-align: center;
  font-size: 20px;
}

.giftContenedor .giftCard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-filter: drop-shadow(2px 2px 6px rgba(24, 19, 19, 0.336));
          filter: drop-shadow(2px 2px 6px rgba(24, 19, 19, 0.336));
}

.giftContenedor .giftCard p {
  margin: 70px;
}

.giftContenedor .giftCard img {
  width: 600px;
  height: 300px;
  border: 1px solid white;
  border-radius: 5px;
}

/* ARMAZONES */
.marcas div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.marcas div img {
  width: 200px;
  height: 200px;
  margin: 20px;
  border: 3px solid rgba(240, 235, 240, 0.531);
  border-radius: 20px;
  -webkit-box-shadow: 2px 2px 5px 3px rgba(124, 121, 124, 0.346);
          box-shadow: 2px 2px 5px 3px rgba(124, 121, 124, 0.346);
}

.marcas div img:hover {
  -webkit-animation: marcas 1s;
          animation: marcas 1s;
}

.marcas h1 {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(230, 217, 217, 0.096))), url(../img/lentes4.jpg);
  background-image: linear-gradient(rgba(230, 217, 217, 0.096)), url(../img/lentes4.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: left;
  padding: 40px;
  height: 30vh;
  margin-bottom: 100px;
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
  font-weight: bold;
  color: rgba(2, 0, 2, 0.61);
}

@-webkit-keyframes marcas {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

@keyframes marcas {
  100% {
    -webkit-transform: scale(1.2);
            transform: scale(1.2);
  }
}

/* Acerca de nosotros*/
.nosotros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.nosotros .fundacion {
  margin: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 380px;
  background-color: #e5e9f2da;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
          box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .fundacion img {
  width: 600px;
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .fundacion h2 {
  margin: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.nosotros .fundacion p {
  font-family: "Mukta",sans-serif;
  text-align: center;
  margin: 50px;
  width: 80%;
}

.nosotros .tiempo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 380px;
  margin: 50px;
  background-color: #f5f7fabd;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
          box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .tiempo img {
  width: 600px;
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .tiempo h2 {
  margin: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.nosotros .tiempo p {
  font-family: "Mukta",sans-serif;
  text-align: center;
  margin: 50px;
  width: 80%;
}

.nosotros .actualidad {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 380px;
  margin: 50px;
  background-color: #e5e9f2da;
  -webkit-box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
          box-shadow: 4px 4px 10px 2px rgba(66, 63, 66, 0.822);
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .actualidad img {
  width: 600px;
  border: 1px solid rgba(255, 252, 252, 0);
  border-radius: 15px;
}

.nosotros .actualidad h2 {
  margin: 70px;
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 40px;
  font-weight: 700;
}

.nosotros .actualidad p {
  font-family: "Mukta",sans-serif;
  text-align: center;
  margin: 50px;
  width: 80%;
}

/* CONTACTOLOGIA */
.contactologia {
  width: 100%;
  height: 80vh;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(161, 146, 146, 0.605)), to(rgba(0, 0, 0, 0.267))), url(../img/contactologia2.jpg);
  background-image: linear-gradient(rgba(161, 146, 146, 0.605), rgba(0, 0, 0, 0.267)), url(../img/contactologia2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contactologia h1 {
  margin-bottom: 20px;
  font-size: 50px;
  color: rgba(253, 252, 251, 0.644);
  font-family: "oswald",sans-serif;
}

.contactologia p {
  font-family: "Mukta",sans-serif;
  font-size: 22px;
  color: rgba(253, 252, 251, 0.644);
  text-align: center;
  width: 80%;
}

.contactologiaSection {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  height: 700px;
  padding: 20px;
}

.contactologiaLista {
  margin: 80px;
}

.contactologiaLista h2 {
  font-family: "oswald",sans-serif;
  margin: 30px;
  text-align: center;
  font-size: 20px;
}

.contactologiaLista ul li {
  list-style-type: none;
  margin: 10px;
  font-size: 12px;
}

.contactologiaVideo {
  text-align: center;
  height: auto;
}

.contactologiaVideo h3 {
  font-family: "oswald",sans-serif;
  margin: 30px;
}

.contactologiaVideo iframe {
  padding: 20px;
  height: 400px;
  width: 700px;
}

/* CONTACTO--FORMULARIO  */
.tituloContacto {
  background-color: rgba(69, 1, 69, 0.599);
  width: 100%;
  color: #daafcf;
  text-align: center;
  height: 60px;
  font-size: 40px;
  font-family: "oswald",sans-serif;
}

.contenedorFormularioMapa {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  margin: 30px;
}

.direccion h2 {
  text-align: center;
  font-size: 30px;
  font-family: "oswald",sans-serif;
  text-decoration: underline;
  background-color: rgba(69, 1, 69, 0.599);
  color: #daafcf;
  border: 2px solid rgba(69, 1, 69, 0.599);
  border-radius: 10px;
  padding: 5px;
}

.formularioTitulo {
  text-align: center;
  margin-bottom: 5px;
  font-size: 25px;
  font-family: "oswald",sans-serif;
  text-decoration: underline;
  background-color: rgba(69, 1, 69, 0.599);
  color: #daafcf;
  border: 2px solid rgba(69, 1, 69, 0.599);
  border-radius: 10px;
}

.input-group {
  margin-bottom: 10px;
}

.form-floating mb-3 {
  margin-bottom: 10px;
}

.form-floating {
  margin-bottom: 10px;
}

.form-select {
  margin-bottom: 10px;
}
